<div class="row">
    <div class="col-sm-12">
        <app-card cardTitle="Over all Leads Records" blockClass="pt-0">
            <div ngbAccordion>
                <div class="container">
                    <div id="pivot-table-container"></div>
                    <div style="display: block; width: 400px; margin-left: 30%; margin-right: 30%;">
                        <canvas *ngIf="pieChartData" baseChart [data]="pieChartData.data" [type]="pieChartData.type" [options]="pieChartData.options">
                        </canvas>
                    </div>                    
                </div>                                
            </div>
        </app-card>
    </div>
</div>